<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <h1>Some Error occured</h1>
            <p>Working on fixing this</p>

            <%- include('includes/end.ejs') %>